@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 15.625rem;
    font-family: 'Comic Neue';
}

#myDiv {
    background: rgb(166, 238, 208);
    text-align: center;
    padding: 5rem 5rem;
}

h2 {
    margin: 0.3125rem;
}

#myInp {
    padding: 0.5rem;
    width: 50%;
    border: 1px solid black;
    margin: 0;
    font-size: 1rem;
    float: left;
    margin-left: 28%;
    border-radius: 1rem;
}

#addBtn {
    font-size: 1rem;
    color: green;
    background: #fff;
    text-align: center;
    padding: 0.5rem;
    float: left;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 0.25rem;
}

#addBtn:hover {
    color: #fff;
    background: green;
}

#myDiv:after {
    content: "";
    display: table;
    clear: both;
}

ul li {
    cursor: pointer;
    list-style-type: none;
    font-size: 1.125rem;
    background-color: rgb(233, 223, 223);
    padding: 0.75rem 0.5rem 0.75rem 2.5rem;
    transition: 0.2s;
    margin-top: 0.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(even) {
    background: #eee;
}

ul li:hover {
    background-color: rgb(177, 169, 169);
}

ul li.checked {
    text-decoration: line-through;
    color: green;
}

ul li.checked:before {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: green;
    margin-right: 0.5rem;
}

.remBtn {
    font-size: 1.125rem;
    padding: 0.5rem;
    text-align: center;
    color: green;
    cursor: pointer;
    /* margin-left: 20rem; */
    position: absolute;
    right: 0.225rem;
    bottom: 0.225rem;
    top: 00.225rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.remBtn:hover {
    color: #fff;
    background: green;
}
